
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-97841360-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>

<body>
  

    <div class="section">

      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-left">
              <i class="fa fa-3x fa-fw fa-book"></i>
              <b>
                <i class="">Truyện Song Ngữ Anh-Việt</i>
              </b>
            </h1>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h1 class="panel-title text-warning"><%=@truyen.name_vn%> <%= @truyen.name_en%></h1>
              </div>
              <div class="panel-body">
                <p class="text-center"><%="Thời điểm cập nhật: #{time_ago_in_words(@truyen.updated_at.in_time_zone(7))} ago"%></p>
                <p class="text-center"><%="Thể Loại: #{@truyen.theloai.title}"%></p>
                <p class="text-center"><%="Tên Tiếng Việt: #{@truyen.name_vn} "%></p>
                <p class="text-center"><%="Tên Tiếng Anh: #{@truyen.name_en} "%></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="section">

      <div class="container">
        <div class="row">
          <div class="col-md-12"><h1 class="text-center"><%=@truyen.name_vn%> <%= @truyen.name_en%></h1></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6"><div class="section"><b class="lead"><%= simple_format(@truyen.content_vn)%></b></div></div>
          <div class="col-md-6"><div class="section"><b class="lead"><%= simple_format(@truyen.content_en)%></b></div></div>
        </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
            <p class="lead"><%="#{@binhluan_num} bình luận"%></p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="col-md-12">
        <% if current_user %>
        <%= form_for (@binhluan) do |f| %>
        <%= f.text_area :content ,class: "form-control"%>
        <%= f.hidden_field :truyen_id, :value => @truyen.id %>
        <%= f.hidden_field :user_id, :value => "#{current_user.try(:first_name)} #{current_user.try(:last_name)}"%>
        <br>
        <%= f.submit "Gửi bình luận",class: "btn btn-default" %>
        <%end%>
        <%else%>
        <textarea class= "form-control"></textarea>
        <br>
        <a href="<%=login_path%>" class="btn btn-default">Đăng nhập để bình luận</a>
        <%end%>
          </div>
      </div>

      <br>

      <div class="container">
        <div class="row">
          <% @binhluans.each do |t|%>
          <div class="container">
            <div class="col-md-4 text-left">
              <strong class="lead"><%=t.user_id%></strong>
              <%=" đã bình luận | #{time_ago_in_words(t.created_at.in_time_zone(7))} ago :"%>
            </div>
            <div class="col-md-8 text-left" style="word-wrap: break-word;">
              <h4><%= simple_format(t.content)%></h4>
            </div>
          </div>
          <br>
          <% end %>
          </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
          <p>FAM-Truyện Song Ngữ</p>
        </div>
      </div>

    </div>
</div>
  </body>
  </html>