
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-97841360-1', 'auto');
  ga('send', 'pageview');
  </script>

</head>

<body>

<div class ="section">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1861312870750162";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!-- LOGO -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-left">
            <i class="fa fa-3x fa-fw fa-book"></i>
            <b>
              <i class="">Truyện Song Ngữ Anh-Việt</i>
            </b>
          </h1>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
      </div>
    </div>
    <!-- BANG THONG KE -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title text-danger" style="color: black"><%=@truyen.name_vn%> - <%= @truyen.name_en%></h1>
            </div>
            <div class="panel-body">
              <div class="col-md-3">
                <p class="text-left ">Thời điểm cập nhật :</p>
                <p class="text-left ">Thể Loại :</p>
                <p class="text-left ">Tên Tiếng Việt :</p>
                <p class="text-left ">Tên Tiếng Anh :</p>
              </div>
              <div class="col-md-3">
                <p class="text-left "><%="#{time_ago_in_words(@truyen.updated_at.in_time_zone(7))} ago"%></p>
                <p class="text-left "><%=@truyen.theloai.title%></p>
                <p class="text-left "><%=@truyen.name_vn%></p>
                <p class="text-left "><%=@truyen.name_en%></p>
              </div>
              <div class="col-md-6 text-center">
                <!-- RATING -->
                <!-- NEU DA DANG NHAP -->

                <%if current_user %>

                <!-- NEU DANG NHAP ROI NHUNG CHUA RATE -->

                <% if @rated === false %>
                <div class="row">
                  <%= form_for (@rating) do |f|%>
                  <%= f.hidden_field :truyen_id, :value => @truyen.id %>
                  <%= f.hidden_field :user_id, :value => current_user.try(:id)%>
                  <fieldset class="rating">
                    <%= f.radio_button :rate, "5",id: "star5" ,:onclick => "this.form.submit();"%><label class = "full" for="star5" title="Tuyệt Vời - 5 stars"></label>
                    <%= f.radio_button :rate ,"4.5",id: "star4half",:onclick => "this.form.submit();"%><label class="half" for="star4half" title="Hay Đấy - 4.5 stars"></label>
                    <%= f.radio_button :rate ,"4",id: "star4",:onclick => "this.form.submit();"%><label class = "full" for="star4" title="Khá Hay - 4 stars"></label>
                    <%= f.radio_button :rate ,"3.5",id: "star3half" ,:onclick => "this.form.submit();"%><label class="half" for="star3half" title="Hay - 3.5 stars"></label>
                    <%= f.radio_button :rate ,"3",id: "star3" ,:onclick => "this.form.submit();"%><label class = "full" for="star3" title="Tạm Được - 3 stars"></label>
                    <%= f.radio_button :rate,"2.5" ,id: "star2half" ,:onclick => "this.form.submit();"%><label class="half" for="star2half" title="Có Vẻ Hơi Dở- 2.5 stars"></label>
                    <%= f.radio_button :rate,"2" ,id: "star2" ,:onclick => "this.form.submit();"%><label class = "full" for="star2" title="Dở - 2 stars"></label>
                    <%= f.radio_button :rate ,"1.5",id: "star1half",:onclick => "this.form.submit();" %><label class="half" for="star1half" title="Quá Dở - 1.5 stars"></label>
                    <%= f.radio_button :rate ,"1",id: "star1" ,:onclick => "this.form.submit();"%><label class = "full" for="star1" title="Tồi Tệ - 1 star"></label>
                    <%= f.radio_button :rate ,"0.5",id: "starhalf",:onclick => "this.form.submit();"%><label class="half" for="starhalf" title="Như CC - 0.5 stars"></label>
                  </fieldset>
                  
                  <%end%>
                </div>
                <br>
                <div class="row">
                  <% if @rating_num != 0 %>
                  <h3><%=" #{@average_rate} / 5 trong tổng số #{@rating_num} lượt đánh giá"%></h3>

                   <!--HIEN THI SAO TUONG UNG VOI DIEM -->

                  <%if @Is_average_rate_int %>
                  <% for i in 1..@count do %>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-on.png"/>
                  <%end%>
                  <%else%>
                  <% for i in 1..@count do %>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-on.png"/>
                  <%end%>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-half.png"/>
                  <%end%>

                  <%else%>
                  <h3>Chưa có lượt đánh giá nào</h3>
                  <%end%>
                </div>

                <!-- DANG NHAP VA DA RATE -->
                <%else%>

                <div class="row">
                  <h1><%="bạn đã đánh giá  #{@user_rate}"%></h1>

                   <!--HIEN THI SAO TUONG UNG VOI DIEM -->

                  <%if @Is_user_rate_int %>
                  <% for i in 1..@count1 do %>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-on.png"/>
                  <%end%>
                  <%else%>
                  <% for i in 1..@count1 do %>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-on.png"/>
                  <%end%>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-half.png"/>
                  <%end%>

                </div>
                <br>
                <div class="row">
                  <% if @rating_num != 0 %>
                  <h3><%=" #{@average_rate} / 5 trong tổng số #{@rating_num} lượt đánh giá"%></h3>

                   <!--HIEN THI SAO TUONG UNG VOI DIEM -->

                  <%if @Is_average_rate_int %>
                  <% for i in 1..@count do %>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-on.png"/>
                  <%end%>
                  <%else%>
                  <% for i in 1..@count do %>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-on.png"/>
                  <%end%>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-half.png"/>
                  <%end%>

                  <%else%>
                  <h3>Chưa có lượt đánh giá nào</h3>
                  <%end%>
                </div>
                <%end%>

                <%else%>

                <!-- CHUA DANG NHAP -->

                <div class="row">
                  
                  <a href="<%=login_path%>" class= "btn btn-default">Đăng nhập để đánh giá</a>
                </div>
                <br>
                <div class="row">
                  <% if @rating_num != 0 %>
                  <h3><%=" #{@average_rate} / 5 trong tổng số #{@rating_num} lượt đánh giá"%></h3>

                  <!--HIEN THI SAO TUONG UNG VOI DIEM -->
                
                  <%if @Is_average_rate_int %>
                  <% for i in 1..@count do %>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-on.png"/>
                  <%end%>
                  <%else%>
                  <% for i in 1..@count do %>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-on.png"/>
                  <%end%>
                  <img src="https://raw.githubusercontent.com/wazery/ratyrate/master/lib/generators/ratyrate/templates/star-half.png"/>
                  <%end%>

                  <%else%>
                  <h3>Chưa có lượt đánh giá nào</h3>
                  <%end%>
                </div>

                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section image">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center"><h2><%=@truyen.name_vn%></h2></div>
          <div class="col-md-6 text-center"><h2><%=@truyen.name_en%></h2></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6"><div class="section">
                <b class="lead le" align = "justify"><%= simple_format(@truyen.content_vn)%></b>
          </div></div>
          <div class="col-md-6"><div class="section">
              <b class="lead le" align = "justify"><%= simple_format(@truyen.content_en)%></b>
          </div></div>
        </div>
      </div>
    </div>


      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
            <p class="lead"><%="#{@binhluan_num} bình luận"%></p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="col-md-12">
          <% if current_user %>
          <%= form_for (@binhluan) do |f| %>
          <%= f.text_area :content ,class: "form-control"%>
          <%= f.hidden_field :truyen_id, :value => @truyen.id %>
          <%= f.hidden_field :user_id, :value => "#{current_user.try(:first_name)} #{current_user.try(:last_name)}"%>
          <br>
          <%= f.submit "Gửi bình luận",class: "btn btn-default" %>
          <%end%>
        </div>
      </div>

      <br>

      <div class="container">
        <div class="row">
          <% @binhluans.each do |t|%>
          <div class="container">
            <div class="col-md-4 text-left">
              <strong class="lead"><%=t.user_id%></strong>
              <%=" đã bình luận | #{time_ago_in_words(t.created_at.in_time_zone(7))} ago :"%>
            </div>
            <div class="col-md-8 text-left" style="word-wrap: break-word;">
              <h4><%= simple_format(t.content)%></h4>
            </div>
          </div>
          <br>
          <% end %>
        </div>
      </div>

      <div class = "row bg-faded text-white" style="background-color: white">
        <div class="fb-comments" data-href="http://localhost:3000/truyen/<%=@truyen.id%>/comments#configurator" data-width="1100px" data-numposts="5"></div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
          <p>FAM-Truyện Song Ngữ</p>
        </div>
      </div>

    </div>
  </div>

</body>
</html>
