<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.css" type="text/css">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97841360-1', 'auto');
  ga('send', 'pageview');

  </script>
 </head>

  <body class="bg-inverse">
    <div class="py-5"><div class="container"><div class="row"><div class="col-md-12"><a href="<%=themtheloai_path%>" class="btn btn-outline-warning btn-block btn-lg" data-toggle="">Thêm thể loại</a></div></div></div></div>
    <div class="py-5"><div class="container"><div class="row"><div class="col-md-12"><a href="<%=edit_path%>" class="btn btn-outline-warning btn-block btn-lg" data-toggle="">Chỉnh sửa truyện</a></div></div></div></div>
    <div class="py-5"><div class="container"><div class="row"><div class="col-md-12"><a href="<%=uptruyen_path%>" class="btn btn-outline-warning btn-block btn-lg" data-toggle="">Thêm truyện</a></div></div></div></div>
    <!-- TABLE-->
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <table class="table table-inverse table-striped table-bordered table-hover table-reflow">
              <thead>
                <tr>
                    <th>id</th>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |t|%>
                  <tr>
                    <td><%= t.id%></td>
                    <td><%= t.first_name%></td>
                    <td><%= t.last_name%></td>
                    <td><%= t.email%></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <table class="table table-inverse table-striped table-bordered table-hover table-reflow">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Bình luận</th>
                      <th>Truyện</th>
                      <th>User</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @binhluans.each do |t|%>
                    <tr>
                      <td><%= t.id%></td>
                      <td><%= t.content%></td>
                      <td><%= t.truyen_id%></td>
                      <td><%= t.user_id%></td>
                      <td><%= link_to 'DELETE', xoabinhluan_path(t), method: :delete ,class: "btn btn-outline-secondary"%></td>
                      </tr>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
          <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
        </body>

        </html>
